esp8266/nodered/mqtt2influxdb.txt
[{"id":"a061fb41.9cfa58","type":"mqtt in","z":"e54324fd.76b8d8","name":"","topic":"new_weatherstation/json/","qos":"0","broker":"973a6047.8a7c68","x":230,"y":180,"wires":[["4f6403f8.0cb9c4","44868c74.4aa5f4"]]},{"id":"44868c74.4aa5f4","type":"debug","z":"e54324fd.76b8d8","name":"","active":false,"console":"false","complete":"true","x":430,"y":100,"wires":[]},{"id":"4f6403f8.0cb9c4","type":"json","z":"e54324fd.76b8d8","name":"","pretty":false,"x":515.5,"y":180,"wires":[["41c3aaf.b69bad4","7732203b.c63a4"]]},{"id":"41c3aaf.b69bad4","type":"debug","z":"e54324fd.76b8d8","name":"","active":false,"console":"false","complete":"true","x":630,"y":100,"wires":[]},{"id":"7732203b.c63a4","type":"split","z":"e54324fd.76b8d8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":730,"y":180,"wires":[["f92cbe6f.7beef8","a18a2d68.23585"]]},{"id":"f92cbe6f.7beef8","type":"debug","z":"e54324fd.76b8d8","name":"","active":false,"console":"false","complete":"true","x":850,"y":100,"wires":[]},{"id":"4da4895c.1cc05","type":"influxdb out","z":"e54324fd.76b8d8","influxdb":"c908a9cc.8c329","name":"","measurement":"","precision":"","retentionPolicy":"","x":1290,"y":180,"wires":[]},{"id":"a18a2d68.23585","type":"function","z":"e54324fd.76b8d8","name":"","func":"if (msg.topic === \"timestamp\") {\n\n} else {\n  msg.measurement = msg.topic;\n  return msg;\n}\n","outputs":1,"noerr":0,"x":930,"y":180,"wires":[["4da4895c.1cc05","f8634257.a05f3"]]},{"id":"f8634257.a05f3","type":"debug","z":"e54324fd.76b8d8","name":"","active":false,"console":"false","complete":"true","x":1058.5,"y":109,"wires":[]},{"id":"973a6047.8a7c68","type":"mqtt-broker","z":"","broker":"10.1.1.82","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c908a9cc.8c329","type":"influxdb","z":"","hostname":"nanotuxedo","port":"8086","protocol":"http","database":"new_weatherstation","name":"","usetls":false,"tls":""}]
